span{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;
}

.button {
    text-decoration-color: green;
    text-align: center;
}

.track {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    display: inline-block;
    color: blue;
}
